<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RifamosTodo.online|Correo Electónico de Confirmación&#127808;</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
  
		h1 {
			font-family: Roboto;
			font-size: 40px;
			text-align: center;
		}

		img {
			font-family: Roboto;
			font-size: 40px;
			text-align: center;
		}
		
		.parrafo {
			font-family: Roboto;
			font-size: 20px;
		}

		.resaltado {
			font-family: Roboto;
			font-size: 25px;
			text-align: center;			
		}
				
  </style>
</head>
<body class="mat-typography">
  <div>
  	<div>
		<p class="resaltado">
		<img src="https://drive.google.com/uc?export=view&id=1zsz19Vfv22tj_nCU-ex-yARIg38KM4Qc" width="20%">
	</div>
	<h1>Recuperar Password</h1>
	<div><p class="parrafo">Hola !#Nombre#!, </div>
	<div><p class="parrafo">Recibimos una solicitud para restablecer la contraseña de la cuenta de RifamosTodo.online asociada con esta dirección de correo electrónico: !#Email#!.</div>
	<div><p class="resaltado">A continuación indicamos la contraseña generada:</div>
	<div><p class="resaltado">!#Password#!</div>		
	<div><p class="parrafo">Si no solicitó restablecer su contraseña, puede ignorar este correo electrónico de forma segura. Tenga la seguridad que su cuenta de RifamosTodo.online está segura.</div>
	<div><p class="parrafo">RifamosTodo.online nunca le enviará un correo electrónico pidiéndole que revele o verifique su contraseña, tarjeta de crédito o número de cuenta bancaria. Si recibe un correo electrónico sospechoso con un enlace para actualizar la información de su cuenta, no haga clic en el enlace. En su lugar, informe al correo electrónico a RifamosTodo.online para su investigación.</div>
	<div><p class="parrafo">Para obtener ayuda y soporte, visite el Centro de soporte de RifamosTodo.online en https://RifamosTodo.online/support.</div>
	<div><p class="parrafo">Gracias por utilizar los servicios de RifamosTodo.online.</div>
	<div><p class="parrafo">Atentamente,</div>
	<div><p class="parrafo">El equipo de soporte de RifamosTodo.online</div>
  </div>
</body>
</html>
