<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RifamosTodo.online|Correo Electónico de Confirmación&#127808;</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
  
		h1 {
			font-family: Roboto;
			font-size: 40px;
			text-align: center;
		}

		img {
			font-family: Roboto;
			font-size: 40px;
			text-align: center;
		}
		
		.parrafo {
			font-family: Roboto;
			font-size: 20px;
		}

		.resaltado {
			font-family: Roboto;
			font-size: 50px;
		}
		
		.fecha {
			font-family: Roboto;
			font-size: 20px;
		}
		
  </style>
</head>
<body class="mat-typography">
  <div>
	<h1>RifamosTodo.online | Recuperar Password</h1>
	<div><p class="parrafo">Hola !#Nombre#!</div>
	<div><p class="parrafo">Hemos creado el siguiente password !#Password#! para que puedas ingresar nuevamente a nuestra web.</div>
  	<div>
		<p>
		<img src="https://drive.google.com/uc?export=view&id=1zsz19Vfv22tj_nCU-ex-yARIg38KM4Qc" width="20%">
	</div>
	<div><p class="parrafo">El equipo de RifamosTodo.online</div>
  </div>
</body>
</html>
