<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </root>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" type="log4net.Util.PatternString" value="%property{fDirectory}\\Logs\\API.RIFAMOS.BACKEND.%date{yyyyMMdd}.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%thread] %-5level %property{class} [%property{method}] - %message%newline" />
    </layout>
  </appender>
</log4net>